name: CI

on:
  push:
    branches: [master]
    tags: ["v*"]
  pull_request:
    branches: [master]
  schedule:
    - cron: 0 4 * * *

jobs:
  test:
    name: All checks are passed
    uses: ./.github/workflows/test.yaml
    secrets: inherit

  approve:
    name: Approve bot PR
    runs-on: ubuntu-latest
    if: endsWith(github.actor, '[bot]')
    needs: test
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: metadata
        id: metadata
        if: github.actor == 'dependabot[bot]'
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Enable auto-merge for bot PRs
        run: gh pr merge --auto --squash --delete-branch "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-hook-image:
    name: Release hook image
    runs-on: ubuntu-latest
    needs: test
    if: (
      (github.event_name == 'pull_request' && github.actor != 'dependabot[bot]') ||
      (github.event_name == 'push' && (startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/master'))
      )
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout commit
        uses: actions/checkout@v4
      - name: Set APP_HOOK_IMAGE_TAG
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            BRANCH_NAME=${{ github.head_ref }}
            export APP_HOOK_IMAGE_TAG=$(echo "${BRANCH_NAME}" | tr '[:upper:]' '[:lower:]' | sed 's/[^a-z0-9_.-]/-/g')
          elif [ "${{ github.ref }}" = "refs/heads/master" ]; then
            export APP_HOOK_IMAGE_TAG=master
          else
            export APP_HOOK_IMAGE_TAG=${GITHUB_REF#refs/tags/}
          fi
          echo "APP_HOOK_IMAGE_TAG=${APP_HOOK_IMAGE_TAG}" >> $GITHUB_ENV
      - name: Login to ghcr.io
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build image
        run: |
          export HOOK_IMAGE_TAG=${{ env.APP_HOOK_IMAGE_TAG }}
          make build-hook-image
      - name: Release branch image
        if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
        run: |
          BRANCH_NAME=${{ github.head_ref }}
          # Convert to lowercase, replace anything not a-z0-9_.- with '-'
          export HOOK_IMAGE_TAG=$(echo "${BRANCH_NAME}" | tr '[:upper:]' '[:lower:]' | sed 's/[^a-z0-9_.-]/-/g')
          make push-hook-image
      - name: Release development image
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          export HOOK_IMAGE_TAG=master
          make push-hook-image
      - name: Release prod image
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        run: |
          export HOOK_IMAGE_TAG=${GITHUB_REF#refs/tags/}
          make push-hook-image
